body{
    padding-top:120px;
}
.btn-outline-gold{
    color:#e98b50;
    border-color:#e98b50;
}
.doublenav{
    overflow:hidden;
}
nav.navbar {
    padding: 0px;
}
nav>div>ul>li>a:hover{
    background-color:black;
    color: white;
}
.allocations-list{
    list-style-type: none;
}
.input-group-prepend {
    display: inline-flex;
}